* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
 }
 .navbar{
    width: 1600px;
 }
.logo{
    height: 92px;
    width: 96%;
    max-width: 1600px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
}
.logo img{
    height: 60px;
    width: 139px;
}
.logo a{
   display: inline;
   text-decoration: none;
   margin: auto;
   padding: 34px;
   
}
.btn{
    background-color: #30B868;
    border: none ;
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 30px;
}
.btn-outline
{
    background: transparent;
    color: white;
    padding: 16px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.hero{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    gap: 40px;
    height: 100vh;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 
}
.hero-content{
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero .hero-content .badge{
    background-color: #FFFFFF;
    color: #30B868;
    border-radius: 20px;
    font-size: 16px;
    padding: 8px;
    justify-content: center;
    align-items:center ;
  
}
.hero h1{
    font-size: 42px;
    color: #FFFFFF;
    text-align: center;
}
.hero h1 span{
    color: #30B868;
}
.hero pre{
    line-height: 24px ;
    color: white;
}
.hero .hero-buttons{
    justify-content:center ;
}
#problems .problems-container{
    width: 1600px;
    height: 448px;
    display: flex;
    justify-content: center ;
    text-align: center;
   
}
#problems .problems-container .section-heading{
     padding: 0 120px ;
}
#problems .problems-container .section-heading h2{
    font-size: 48px;
    font-weight: 700px;
    line-height: 58px;
    text-align: center;
    padding-top: 40px;
}
#problems .problems-container .section-heading p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    text-align: center;
}
#problems .problems-container .section-heading .card-section{
    margin: auto;
    display: flex;
    gap: 24px;
    margin-top: 44px;
    background-color:#FFFFFF ;
    box-shadow: 0 0 ;
    }
.card-section .card{
      background-color:#FFFFFF ;
    box-shadow: 0 0 8px 0;
    padding: 24px;
    width: 322px;
    height: 300px;
    border-radius: 5px;
}
.card-section .card img{
    margin:35px;
    background-color: red;
    padding: 20px;
    border-radius: 40px;

}
.card-section .card h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}
.card-section .card p{
    padding-top: 16px ;
    width: 274px;
    height: 40px;
}

.banner .banner-container {
    margin: 120px;
    display: flex;
}
.banner .banner-container .banner-content{
    margin: 102px 60px;
}
.banner .banner-container .banner-content h6{
    color: #30b868;
    padding-bottom: 16px;

}
.banner .banner-container .banner-content h2{
    font-size: 48px;
    font-weight: 900px;
    line-height: 58px;
    padding-bottom: 20px;
}
.banner .banner-container .banner-content p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
}
.banner .banner-container .banner-content ul{
    margin-top: 30px;
    list-style: none;

}
.banner .banner-container .banner-content li{
    margin-top: 16px;
}
.clngs{
    width: 1600px;
    margin: 0  auto;
}
.clngs .clngs-section{
    margin: 2px 120px 120px 120px;
    background-color:#F7F6F2;

}
.clngs .clngs-section .clngs-container h2{
     font-size: 40px;
     line-height: 50px;
     font-weight: 700px;
     text-align: center;
     padding-top: 50px;
     
}
.clngs .clngs-section .clngs-container p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
}
.clngs .clngs-section .clngs-container .btn{
    margin-left: 543px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0;
}
.clngs .clngs-section .clngs-container .clngs-ul{
    list-style: none;
    text-align: center;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.footer{
     margin: 120px 120 px 30px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 25, 49, 1);
}
.footer .footer-section{
    padding: 120px 120px 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
     background-color: rgba(0, 25, 49, 1)
}
.footer .footer-section .img{
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
.footer .footer-section .footer-bottom{
    text-align: center;
    color: white;
}